{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="primary-font mb-5">Join Our Team at CozyNest</h1>
        <p class="lead">
            At CozyNest, we are always looking for passionate, talented, and creative individuals to help us deliver
            cozy, high-quality bedding and home decor to our customers.
            Our team values collaboration, innovation, and dedication to excellence. If you’re looking for a workplace
            where your contributions are appreciated and you can grow professionally, CozyNest is the place for you!
        </p>
    </div>

    <div class="row g-4">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card h-100 shadow">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Customer Support Specialist</h5>
                    <hr>
                    <p class="card-text flex-grow-1">
                        Provide outstanding support to our customers via email and phone, helping them find the perfect
                        products and resolving any inquiries promptly.
                    </p>
                    <a href="mailto:marija_velickovska88@hotmail.com" class="btn btn-dark mt-2 text-decoration-none">Apply
                        Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card h-100 shadow">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Product Designer</h5>
                    <hr>
                    <p class="card-text flex-grow-1">
                        Design and develop innovative bedding products, from concept to final production, ensuring both
                        style and comfort.
                    </p>
                    <a href="mailto:marija_velickovska88@hotmail.com" class="btn btn-dark mt-2 text-decoration-none">Apply
                        Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card h-100 shadow">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-center">Marketing Coordinator</h5>
                    <hr>
                    <p class="card-text flex-grow-1">
                        Plan and execute marketing campaigns, manage social media channels, and contribute to brand
                        growth and visibility.
                    </p>
                    <a href="mailto:marija_velickovska88@hotmail.com" class="btn btn-dark mt-2 text-decoration-none">Apply
                        Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "home/footer.html" %}
{% endblock %}