<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">All
        Products</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">By Price</a></li>
        <li><a class="dropdown-item" href="#">By Rating</a></li>
        <li><a class="dropdown-item" href="#">By Category</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Beddings</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Beddings</a></li>
        <li><a class="dropdown-item" href="#">Kids Bedding</a></li>
        <li><a class="dropdown-item" href="#">Sheets</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Pillows</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Pillows</a></li>
        <li><a class="dropdown-item" href="#">Pillowcases </a></li>
        <li><a class="dropdown-item" href="#">Newest</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Pajamas</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Women's Pajamas</a></li>
        <li><a class="dropdown-item" href="#">Men's Pajamas</a></li>
        <li><a class="dropdown-item" href="#">Kids' Pajamas</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Decor</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Decor Lamps</a></li>
        <li><a class="dropdown-item" href="#">Decor Items</a></li>
        <li><a class="dropdown-item" href="#">Decor Pictures</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Special
        Offers</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">New Arrivals</a></li>
        <li><a class="dropdown-item" href="#">Deals</a></li>
        <li><a class="dropdown-item" href="#">Clearance</a></li>
    </ul>
</li>