/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Georgia", serif;
  --darkgray-color: #424242;
  --lightgray-color: #E6EBEE;
  --orange-color: #D17F53;
  --gold-color: #b08336;
}

/* Global styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-font {
  font-family: var(--primary-font);
}

.gold-color {
  color: var(--gold-color);
}

/* Navbar */
.navbar-center-md {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#mobile-search-input {
  display: none;
  width: 100%;
}

.navbar-brand {
  font-family: var(--primary-font);
  font-size: 3rem;
}

.icon-button {
  border: none;
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: 1.25rem;
  cursor: pointer;
}

.icon-link {
  border: none;
  background: transparent;
  padding: 0;
  color: inherit;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  color: #000;
}

.search-input {
  border: 1px solid #000 !important;
  box-shadow: none !important;
}

.search-span {
  border: 1px solid #000 !important;
  cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

/* Subnavbar */
#subnavbar .nav-link {
  font-weight: 500;
  font-size: larger;
}

/* Home */
#hero-image {
  height: 80vh;
  background: url("../images/hero-image.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  color: white;
}

.shop-now-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 20vh;
}

.shop-now-button {
  background-color: white;
  color: #000;
  font-family: var(--secondary-font);
  border: 2px solid var(--gold-color);
  box-shadow: 0 3px 10px var(--gold-color);
  padding: 0.5 2.5rem;
  letter-spacing: 1px;
  font-weight: bolder;
}

/* Bootstrap toasts */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Footer */
footer {
  background-color: var(--lightgray-color);
}

.social-icons .bi {
  font-size: 1.5rem;
  color: var(--darkgray-color);
  margin: 0 0.5rem;
  transition: color 0.3s;
}

.social-icons .bi:hover {
  color: var(--gold-color); 
}

footer a {
  text-decoration: none;     
  color: #212121;           
  transition: color 0.3s;  
}

footer a:hover {
  color: var(--gold-color);  
}

footer .copyright:hover {
  color: var(--gold-color);
}

/* Meilchimp form*/
#mc_embed_signup {
  background: var(--lightgray-color);
  false;
  clear: left;
  width: 100%;
}

#mc-embedded-subscribe-form {
  margin: 0 !important;
}

#mc-embedded-subscribe {
  background-color: var(--darkgray-color) !important;
  color: white !important;
}

#mc-embedded-subscribe:hover {
  background-color: var(--darkgray-color) !important;
  color: var(--gold-color) !important;
}

/* About Us */
.company_image {
  height: 50vh;
  background: url("../images/company.jpg") no-repeat center center;
  background-size: cover;
}

.about-us-title {
  font-family: var(--primary-font);
}

/* Products */
.card {
  width: 18rem;
}

#sort-selector {
  border-color: black !important;
}

/* Media Queries */
@media (max-width: 576px) {
  /* Navbar */
  .navbar-brand {
    font-size: 1rem !important;
  }

  .footer-hr {
    width: 60% !important;
  }

  .custom-toast {
    --bs-toast-max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  /* Navbar */
  #desktop-search-form {
    display: none !important;
  }

  .navbar {
    position: relative;
    z-index: 1000;
  }

  .search-span {
    background-color: #000 !important;
  }

  #hero-image {
    position: relative;
    z-index: 2;
  }

  #mobile-search-section {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px; 
    right: 0;
    width: 100vw;
    padding-bottom: 5px;
    background-color: white;
    z-index: 1200;
    transition: height 0.3s ease;
  }

  #mobile-dropdown-menu,
  #mobile-subnavbar {
    position: absolute;
    top: 55px; 
    right: 0;
    width: 60vw;
    background-color: white;
    z-index: 1200;
    border: 1px solid gainsboro;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: height 0.3s ease;
  }

  #mobile-dropdown-menu ul {
    list-style-type: none;
    padding-left: 1rem;
  }

  /* Home */
  #hero-image {
    height: 70vh;
    background-position: bottom bottom;
  }

  .shop-now-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem 1.5rem;
  }
}



@media (min-width: 768px) {
  /* Navbar */
  .navbar-center-md {
    display: flex;
    align-items: center;
  }

  #mobile-search-section,
  #mobile-dropdown-menu {
    display: none !important;
  }
}

@media (max-width: 992px) {
  /* Navbar */
  .navbar-brand {
    font-size: 1.5rem;
  }

  /* Contact us */
  .company_image {
    height: 20vh;
  }
}

@media (min-width: 1200px) {
  /* Navbar */
  .navbar-nav a {
    font-size: 1rem;
    color: #000;
  }

  .footer-links {
    margin: 0 3rem;
  }
}
