{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="py-3">Products</h2>
            {% if category_obj %}
            <a href="{% url 'products' %}?category={{ c.name }}" class="category-btn btn btn-dark px-4 rounded-0">
                <span>{{ category_obj.friendly_name }}</span>
            </a>
            {% endif %}
            <hr class="w-50 mb-1 mx-auto">
        </div>
    </div>
    <div class="row my-4 my-md-5">
        <div class="col-12 col-md-8 col-lg-9 order-last order-md-1 d-flex justify-content-start my-2">
            <p class="text-muted">
                {% if search_term or current_category or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                {% endif %}
                {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3 order-1 order-md-last d-flex justify-content-end my-2">
            <div class="sort-select-wrapper w-100">
                <select id="sort-selector"
                    class="form-select form-select-sm rounded-0 {% if current_sorting != 'None_None' %}border border-info{% else %}border border-dark{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="base_price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low
                        to high)</option>
                    <option value="base_price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to
                        high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high
                        to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                </select>
            </div>
        </div>
    </div>
    {% if products %}
    <div class="row g-4 mb-5">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-md-4 d-flex justify-content-center">
            <div class="card h-100 border-0 rounded-0">
                <img src="{{ product.image.url }}" class="card-img-top rounded-0" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                </div>
                <div class="card-footer border-0">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 fw-bold">${{ product.base_price }}</p>
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="#">
                                    <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% if product.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i> {{ product.rating }} /
                                5</small>
                            {% else %}
                            <small class="text-muted">No Rating</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="mt-5 text-muted fs-5">No products available at the moment.</p>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    document.getElementById('sort-selector').addEventListener('change', function () {
        var selectedVal = this.value;
        var currentUrl = new URL(window.location);

        if (selectedVal !== "reset") {
            currentUrl.searchParams.set("sort", selectedVal);
            currentUrl.searchParams.delete("direction");
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
        }
        window.location.replace(currentUrl);
    });
</script>
{% endblock %}